/*navbar styling*/

.navbar {
  background-color: rgb(1, 112, 156);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  
}

.navbar-name  {
  width: 40%;
  margin-left: 40px;
  color: rgb(116, 181, 255);
  font-size: 4.6rem;
}

.navbar-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  
  font-size: 1.6rem;
}

.navbar-links a{
  text-decoration: none;
  color: rgb(33, 2, 37);
}

.navbar-links h4:hover{
  color:white;
  font-size: 1.7rem;

}

/*home styling*/

.home {
  background-image: url(./imgs/bg-mywebsite.jpg);
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: space-around;
}

.text-home {
  color: white;
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  padding: 40px;
}



.portrait-img {
  width: 300px;
  height: auto;
  
}

/* card style*/

.skill-box {
  background-image: url(./imgs/bg-mywebsite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  width: 100;
  padding: 30px ;
}

.skill-card {
  background-color: black;
  opacity: 0.8;
  width: 800px;
  height: 150px;
  margin: 10px auto;
  display: flex;
  color: aliceblue;
  
}

.skill-imgbox {
  width: auto;
  height: 100px;
}

.skill-img {
  height: 100%;
  margin: 10px 50px;
}

/* projects */

.projects {
  background-image: url(./imgs/bg-mywebsite.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.project-box {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  height: 300px;
  width: 800px;
  margin-top: 90px;
  display: flex;
  color: white;
  flex-direction: row;

}

.proj-img-box {
  height: 300px;
  width: auto;
}

.img-proj {
  height: 100%;
  width: auto;
}

.proj-descrip {
  margin: 10px;

}

.proj-descrip a{
  text-decoration: none;
  font-style: italic;
}
 




   

/* contact */

.contact {
   background-image: url(./imgs/bg-contact.gif);
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}
